{% extends 'widgets/widget_template.html' %}
{% load custom_template %}

{% block title_color %}{{ title_color|default:'white' }}{% endblock %}
{% block title_text_color %}{{ title_text_color|default:'rgb(101, 71, 150)' }}{% endblock %}
{% block body_color %}{{ body_color|default:'white' }}{% endblock %}
{% block body_text_color %}{{ body_text_color|default:'black' }}{% endblock %}
{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%; background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block title1 %}{{ title1 }}{% endblock %}
{% block title2 %}{{ title2 }}{% endblock %}
{% block custom_tools %}
{% endblock %}

{% block widget_content %} <!-- Main Start Block -->

<div style="overflow: auto; width: 100%; height: 100%; padding-left:10px; padding-right:10px">
    <!-- Main Div -->
    {% if results %}
        {% for response in results %}
            {% for data in response.data %}
                <div class="row">
                    <div class="col-md-8">
                        <h2 style="overflow-wrap: break-word;">
                            {{ data.display_value }} 
                            <small>{{ data.status.name }}</small>
                        </h2>
                    </div>
                    <div class="col-md-4">
                        {% if data.score == 10 %}
                            <h2><span class="label label-danger">{{ data.score }}</span></h2>
                        {% elif data.score >= 7 %}
                            <h2><span class="label label-warning">{{ data.score }}</span></h2>
                        {% else %}
                            <h2><span class="label label-default">{{ data.score }}</span></h2>
                        {% endif %}
                    </div>
                </div>
                <a style="color: #fff;" href="{{ data.host }}/{{ data.api_name }}/{{ data.id }}/details" target="_blank">View in ThreatQ</a>
                {% if data.attributes %}
                    <h3>Attributes</h3>
                    <table id="tq_table_{{ data.id }}" class="table dataTable no-footer">
                        <thead>
                            <th>Name</th>
                            <th>Value</th>
                        </thead>
                        <tbody>
                            {% for attribute in data.attributes %}
                                <tr>
                                    <td>{{ attribute.name }}</td>
                                    <td>{{ attribute.value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                    {% for obj_key, obj_values in data.items %}
                        {% if obj_key in response.object_types and obj_values|length > 0 %}
                            <h3>Related {{ obj_key }}</h3>
                            <table id="tq_table_{{ obj_key }}_{{ data.id }}" class="table dataTable no-footer">
                                <thead>
                                    <th>Value</th>
                                    <th>Link</th>
                                </thead>
                                <tbody>
                                    {% for rel in obj_values %}
                                        <tr>
                                            <td>
                                                {% if rel.value %}
                                                    {{ rel.value }}
                                                {% elif rel.name %}
                                                    {{ rel.name }}
                                                {% elif rel.title %}
                                                    {{ rel.title }}
                                                {% else %}
                                                    N/A
                                                {% endif %}
                                            </td>
                                            <td><a target="_blank" href="{{ data.host }}/{{ obj_key }}/{{ rel.id }}/details">View in ThreatQ</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
<!-- Main Div -->
<script type="text/javascript">
    $(window).load(function () {
        $('[id^=tq_table').DataTable();
    });
</script>
{% endblock %}
<!-- Main Start Block -->
